<% content_for :title, "Edit your review of #{@book.title}" %>

<h1>Edit your review of "<%= @book.title %>"</h1>

<%= render "form", book: @book, review: @review %>

<%= link_to "Back to Book", @book, class: "btn" %>
